node_modules
Dockerfile
**/.ignored

libs/bff-api

*.html
*.scss
*.css
*.json
*.md
*.yaml
*.yml
*.pug
*.prisma
*.lock
*.tpl
*.ico
*.txt
.babelrc
.helmignore
*.env
*.svg
*.sql
*.toml
*.graphql
template.*
